<div class="col-lg-12">
  <div class="card rounded-0 mt-4 mb-4">
    <div class="card-body">
      <h2 class="text-center">Update New Bus</h2>
    </div>
  </div>
  <%= render 'form', bus: @bus %>
</div>